*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.imgsup__img{
    background-image: url(../img/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imgsupbanner__cover {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(126, 126, 126, .1))
}

@media (max-width: 600px) {
    .imgsup__img{
        background-image: url(../img/banner-mobile.png);
    }
}